<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <img src="/images/logo.jpg" style="border-radius:5px;" alt="Oops!">
                <p>Discover a new level of convenience with our food delivery service.</p>
            </div>
            <div class="footer-col">
                <h3>Useful Links</h3>
                <ul>
                    <li><a style="font-weight:lighter;" href="/home/{{userdetails.ID}}">Home</a></li>
                    <li><a style="font-weight:lighter;" href="/products/{{userdetails.ID}}">Food</a></li>
                    <li><a style="font-weight:lighter;" href="/orders/{{userdetails.ID}}">Orders</a></li>
                    <li><a style="font-weight:lighter;" href="/cart/{{userdetails.ID}}">Cart</a></li>
                    <li><a style="font-weight:lighter;" href="/wishlist/{{userdetails.ID}}">Wishlist</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Contact us</h3>
                <ul>
                    <li><ion-icon name="mail-open-outline"></ion-icon>&nbsp;&nbsp;gladwin@gmail.com</li>
                    <li><ion-icon name="call"></ion-icon>&nbsp;&nbsp;7364338839</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2023 - Food Crush</p>
    </div>
</div>
<script>
    twemoji.parse(document.body);
</script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
